.tabs{
    display: flex;
    flex-direction: column;
}
.tabs ul{
    width: 1024px;

    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
}
.tabs ul li{
    width: 255px;
    height: 305px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 30%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    padding-bottom: 30px;

    font-size: 27px;
    color: #5c5b5b;
    font-family: "Segoe WP N";
    font-weight: 300;
    text-align: center;
}
.tabs ul li:hover{
    cursor: pointer;
    color:#818181;
}
.tabs ul li:nth-child(1){
    background-image: url("../images/tabs/Shape 10.png");
}
.tabs ul li:nth-child(2){
    background-image: url("../images/tabs/Shape 12.png");
    font-size: 27px;
    color: #5f5f5f;
    font-family: "Segoe WP N";
    font-weight: bold;
    text-align: center;
}
.tabs ul li:nth-child(3){
    background-image: url("../images/tabs/Shape 11.png");
}
.tabs ul li:nth-child(4){
    background-image: url("../images/tabs/Shape\ 13.png");
}
.border-t-choose{
    border: 1px solid #4f4f4f;
    border-bottom: none;
}
.border-t-no-choose{
    border-bottom: 1px solid #4f4f4f;
}
.tabs .ipad{
    height: 786px;
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-image: url("../images/tabs/screen.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;

    border: 1px solid #4f4f4f;
    border-top: none;
}
.tabs .ipad span{
    padding: 13px 55px;
}
.tabs .ipad span:nth-child(1){
    font-size: 39px;
    color: #4f4f4f;
    font-family: "Segoe WP N";
    font-weight: 300;
    text-align: left;
}
.tabs .ipad span:nth-child(2){
    font-size: 14px;
    line-height: 24px;
    color: #818181;
    font-family: "Univers CE";
    font-weight: 300;
    text-align: justify;
}
.tabs .ipad span:nth-child(3){
    font-size: 14px;
    line-height: 24px;
    color: #818181;
    font-family: "Univers CE";
    font-weight: 300;
    text-align: justify;
    margin-bottom: 45px;
}